<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <br>
            <br>
            <h1 style="font-weight: lighter;text-align: center;">
                Courses Catalog
            </h1>
            <br>
            <br>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-12 course">
            <div class="course-img">
                <img src="https://d20vrrgs8k4bvw.cloudfront.net/images/degrees/nd578/catalog-card.jpg"
                    alt="suven-thumbnail" class="img-fluid c-img">
            </div>
            <div class="course-det">
                <h3 style="font-weight: lighter;">
                    Suven Coding Track
                </h3>
                <br>
                <br>
                <p>Skills covered :</p>
                <p>User Research, User Experience, Prototyping, Interactive Design</p>
                <br>
                <a href="" class="btn btn-primary" style="padding: 0.5em 2.5em;">Register Now</a>
            </div>

        </div>
    </div>

    <br>
    <br>
    <div class="row">
        <div class="col-sm-12 course">
            <div class="course-img">
                <img src="https://d20vrrgs8k4bvw.cloudfront.net/images/degrees/nd578/catalog-card.jpg"
                    alt="suven-thumbnail" class="img-fluid c-img">
            </div>
            <div class="course-det">
                <h3 style="font-weight: lighter;">
                    Suven Coding Track
                </h3>
                <br>
                <br>
                <p>Skills covered :</p>
                <p>User Research, User Experience, Prototyping, Interactive Design</p>
                <br>
                <a href="" class="btn btn-primary" style="padding: 0.5em 2.5em;">Register Now</a>
            </div>

        </div>
    </div>


    <br>
    <br>

    <div class="row">
        <div class="col-sm-12 course">
            <div class="course-img">
                <img src="https://d20vrrgs8k4bvw.cloudfront.net/images/degrees/nd578/catalog-card.jpg"
                    alt="suven-thumbnail" class="img-fluid c-img">
            </div>
            <div class="course-det">
                <h3 style="font-weight: lighter;">
                    Suven Coding Track
                </h3>
                <br>
                <br>
                <p>Skills covered :</p>
                <p>User Research, User Experience, Prototyping, Interactive Design</p>
                <br>
                <a href="" class="btn btn-primary" style="padding: 0.5em 2.5em;">Register Now</a>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-12 course">
            <div class="course-img">
                <img src="https://d20vrrgs8k4bvw.cloudfront.net/images/degrees/nd578/catalog-card.jpg"
                    alt="suven-thumbnail" class="img-fluid c-img">
            </div>
            <div class="course-det">
                <h3 style="font-weight: lighter;">
                    Suven Coding Track
                </h3>
                <br>
                <br>
                <p>Skills covered :</p>
                <p>User Research, User Experience, Prototyping, Interactive Design</p>
                <br>
                <a href="" class="btn btn-primary" style="padding: 0.5em 2.5em;">Register Now</a>
            </div>
        </div>
    </div>
</div>

<br>
<br>