<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 hero">
            <h1 class="hero-text">
                Be Industry ready with <br> S.C.O.P.E
            </h1>
        </div>
    </div>
</div>


<!-- Braches -->


<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <br>
            <br>
            <h1 style="text-align: center;font-weight: lighter;">Discover the perfect program for your branch</h1>
            <br>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="card mx-auto" style="width: 17rem;">
                <img src="https://www.udacity.com/assets/iridium/images/homepage/shared/icons/school-cards/data_sci_icon.png"
                    class="card-img-top" alt="CS">
                <div class="card-body">
                    <h5 class="card-title">CS</h5>
                    <p class="card-text"><br>Discover programs for <br> CS</p>
                    <a href="#" class="btn btn-outline-info">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card mx-auto" style="width: 17rem;">
                <img src="https://www.udacity.com/assets/iridium/images/homepage/shared/icons/school-cards/data_sci_icon.png"
                    class="card-img-top" alt="CS">
                <div class="card-body">
                    <h5 class="card-title">IT</h5>
                    <p class="card-text"><br>Discover programs for <br> CS</p>
                    <a href="#" class="btn btn-outline-info">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card mx-auto" style="width: 17rem;">
                <img src="https://www.udacity.com/assets/iridium/images/homepage/shared/icons/school-cards/data_sci_icon.png"
                    class="card-img-top" alt="CS">
                <div class="card-body">
                    <h5 class="card-title">EXTC</h5>
                    <p class="card-text"><br>Discover programs for <br> CS</p>
                    <a href="#" class="btn btn-outline-info">Go somewhere</a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card mx-auto" style="width: 17rem;">
                <img src="https://www.udacity.com/assets/iridium/images/homepage/shared/icons/school-cards/data_sci_icon.png"
                    class="card-img-top" alt="CS">
                <div class="card-body">
                    <h5 class="card-title">ETRX</h5>
                    <p class="card-text"><br>Discover programs for <br> CS</p>
                    <a href="#" class="btn btn-outline-info">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <br>
            <br>
            <h1 style="text-align: center;font-weight: lighter;">Industry leading programs built and recognized by top
                companies worldwide
            </h1>
            <br>
            <br>
        </div>
    </div>
</div>